In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
schoolDataLOAD = "Resources/schools_complete.csv"
studentDataLOAD = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
schoolData = pd.read_csv(schoolDataLOAD)
studentData = pd.read_csv(studentDataLOAD)

# Combine the data into a single dataset
schoolDataComplete = pd.merge(studentData, schoolData, how="left", on=["school_name", "school_name"])
schoolDataComplete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
# District Summary

#  * Total Schools
totalSchools = schoolDataComplete['school_name'].nunique()

#  * Total Students
totalStudents = schoolDataComplete['Student ID'].nunique()

#  * Total Budget
totalBudget = schoolData['budget'].sum()

#  * Average Math Score
totalMath = schoolDataComplete['math_score'].sum()
averageMath = totalMath/totalStudents

#  * Average Reading Score
totalReading = schoolDataComplete['reading_score'].sum()
averageReading = totalReading/totalStudents

#  * % Passing Math
passingMathCount = schoolDataComplete['math_score'].loc[schoolDataComplete['math_score'] >= 70].count()
percentPassingMath = (passingMathCount/totalStudents)*100

#  * % Passing Reading
passingReadingCount = schoolDataComplete['reading_score'].loc[schoolDataComplete['reading_score'] >= 70].count()
percentPassingReading = (passingReadingCount/totalStudents)*100

#  * Overall Passing Rate (Average of the above two)
percentPassingOverall = (percentPassingMath + percentPassingReading)/2

# Create a high level snapshot (in table form) of the district's key metrics, including:
highLevelSnapshotData = {'Total Schools': [totalSchools],
                         'Total Students':[totalStudents],
                         'Total Budget': [totalBudget],
                         'Average Math Score': [averageMath],
                         'Average Reading Score': [averageReading],
                         '% Passing Math': [percentPassingMath],
                         '% Passing Reading': [percentPassingReading],
                         '% Passing Overall': [percentPassingOverall]}
highLevelSnapshot_df = pd.DataFrame(highLevelSnapshotData)
highLevelSnapshot_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [3]:
# School Summary

schoolIDs = schoolData['School ID']
schoolNames = schoolData['school_name']
schoolTypes = schoolData['type']
schoolSizes = schoolData['size']
schoolBudgets = schoolData['budget']

columnNames = ['School Name',
               'School Type',
               'Total Students',
               'Total School Budget',
               'Per Student Budget',
               'Average Math Score',
               'Average Reading Score',
               '% Passing Math',
               '% Passing Reading',
               'Overall Passing Rate']

table = pd.DataFrame(columns=columnNames, index=schoolIDs)
mathMean = schoolDataComplete.groupby('school_name')['math_score'].mean()
meanRead = schoolDataComplete.groupby('school_name')['reading_score'].mean()

# * Create an overview table that summarizes key metrics about each school, including:
for x in schoolIDs:
    #  * School Name
    table.at[schoolIDs[x], 'School Name'] = schoolNames[x]
    #  * School Type
    table.at[schoolIDs[x], 'School Type'] = schoolTypes[x]
    #  * Total Students
    table.at[schoolIDs[x], 'Total Students'] = schoolSizes[x]
    #  * Total School Budget
    table.at[schoolIDs[x], 'Total School Budget'] = schoolBudgets[x]
    #  * Per Student Budget
    table.at[schoolIDs[x], 'Per Student Budget'] = (schoolBudgets[x]/schoolSizes[x])
    #  * Average Math Score
    table.at[schoolIDs[x], 'Average Math Score'] = mathMean[schoolNames[x]]
    #  * Average Reading Score
    table.at[schoolIDs[x], 'Average Reading Score'] = meanRead[schoolNames[x]]
    
    #  * % Passing Math
    table.at[schoolIDs[x], '% Passing Math'] = 0
    #  * % Passing Reading
    table.at[schoolIDs[x], '% Passing Reading'] = 0
    #  * Overall Passing Rate (Average of the above two)
    table.at[schoolIDs[x], 'Overall Passing Rate'] = 0


table

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School ID,,,,,,,,,,
0,Huang High School,District,2917,1910635,655,76.6294,81.1827,0,0,0
1,Figueroa High School,District,2949,1884411,639,76.7118,81.158,0,0,0
2,Shelton High School,Charter,1761,1056600,600,83.3595,83.7257,0,0,0
3,Hernandez High School,District,4635,3022020,652,77.2898,80.9344,0,0,0
4,Griffin High School,Charter,1468,917500,625,83.3515,83.8168,0,0,0
5,Wilson High School,Charter,2283,1319574,578,83.2742,83.9895,0,0,0
6,Cabrera High School,Charter,1858,1081356,582,83.0619,83.9758,0,0,0
7,Bailey High School,District,4976,3124928,628,77.0484,81.034,0,0,0
8,Holden High School,Charter,427,248087,581,83.8033,83.815,0,0,0
9,Pena High School,Charter,962,585858,609,83.8399,84.0447,0,0,0
10,Wright High School,Charter,1800,1049400,583,83.6822,83.955,0,0,0
11,Rodriguez High School,District,3999,2547363,637,76.8427,80.7447,0,0,0
12,Johnson High School,District,4761,3094650,650,77.0725,80.9664,0,0,0
13,Ford High School,District,2739,1763916,644,77.1026,80.7463,0,0,0
14,Thomas High School,Charter,1635,1043130,638,83.4183,83.8489,0,0,0